.list-header-simpsons {
    text-align: center;
    padding: 20px 0;
    background-color: #fdd835; /* Amarillo de Los Simpsons */
    color: #333;
    h2 {
        font-size: 2.5em;
        margin: 0;
        text-shadow: 1px 1px 2px #fff;
    }
}

.simpsons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
    background-color: #1e88e5; /* Azul cielo de Springfield */
}

.simpsons-card {
    background-color: #fff;
    border: 4px solid #fdd835;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .simpsons-info {
        padding: 15px;
        h3 {
            color: #333;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .gender, .age {
            color: #666;
            font-size: 0.9em;
        }
    }
}