.title-rm {
  color: #97ce4c; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #333;
  border: 2px solid #97ce4c;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  color: white;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #97ce4c;
  }

  .card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .card-body {
    padding: 15px;
    
    h3 { margin: 0 0 10px 0; }
    
    
    .Alive { color: #55cc44; }
    .Dead { color: #d63d2e; }
    .unknown { color: #9e9e9e; }
  }
}